* {
    box-sizing: border-box;
  }
  #header{
    background:cadetblue; 
    width:100%;
    font-family: 'Times New Roman', Times, serif; 
    font-size: 40px;
    text-align: center;
  }
  .carousel{
    background-color: cadetblue;
      font-size: 20px;
      font-family: Impact, sans-serif;
      text-align: center;
  }
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 40%;
    margin: auto;
  }
#footer{
    background-color:black;
    color: white;
    text-align:center;
    padding:10px;
    margin-top:7px;
    font-size:12px;
}
.nav{
  background-color:cadetblue;
  border: 1px solid white;
  text-align: center;
}
  @media only screen and (min-width: 500px) {
    div {
      text-align: center;
    }
    #placas,
    #graficas,
    #rforzada {
      border: 2px solid rgb(163, 149, 149);
      border-radius: 5px;
      font-size: 15px;
      font-family: sans-serif;
    }
  }

  @media only screen and (max-width:800px) {
    /* para tablets: */
    body {
      background-color: #FAE5D3;
    }
    #placas,
    #grficas,
    #rforzadas {
      display: inline-block;
      margin: 2px;
      width: 100%;
      padding: 0;
      background: cadetblue;
      border: 2px solid white;
      font-family: Impact,Arial, Helvetica, sans-serif;
    }
  }
  @media screen and (min-width: 1025px) {
    #placas,
    #graficas,
    #rforzada {
      display: inline-block;
      background-color:cadetblue;
      width: 50%;
      border-radius: 5px;
      border: 2px solid white;
      margin: 2px;
      font-family: Georgia, 'Times New Roman', Times, serif;
    }
    body {
      background-image: url(https://png.pngtree.com/thumb_back/fw800/back_pic/03/89/78/1057da473eacc43.jpg); 
    }
    #graficas {
      float: right;
    }
    .right {
      background-color: cadetblue;
      font-size: 20px;
      font-family: Impact, sans-serif;
      text-align: center;
    }
  }